/* Layout container */
.home {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  gap: 1rem;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* Sidebar */
.home__sidebar {
  padding: 0.5rem;
  height: 100%;
  box-sizing: border-box;
}

/* Main content */
.home__main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

html,
body {
  height: auto !important;
  min-height: 100%;
  overflow-y: auto !important;
  margin: 0;
  padding: 0;
  background: #f3f4f6;
}

/* News cards section */
.home__news-grid {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Right sidebar */
.home__rightbar {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

/* Responsive tweaks */
@media (max-width: 1024px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .home__sidebar,
  .home__rightbar,
  .home__main-content {
    width: 100%;
  }

  .home__news-grid {
    width: 100%;
  }
}
